{% extends 'base.html' %}

{% load static %}

{% block head %}
    <link href="{% static 'path/to/select2.min.css' %}" rel="stylesheet" />
    <script src="{% static 'path/to/jquery.min.js' %}"></script>
    <script src="{% static 'path/to/select2.min.js' %}"></script>
{% endblock %}

{% block content %}
  <h2>Создать транзакцию</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="{% url 'transaction_list' %}" class="btn btn-secondary">Назад</a>
  </form>
{% endblock %}
